# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.editorconfig
*.db
*.db-shm
*.db-wal
*.vsidx
/.vs
Application/DigitalWorldOnline.Application/bin/Debug/net7.0/DigitalWorldOnline.Application.deps.json
Application/DigitalWorldOnline.Application/bin/Release/net7.0/DigitalWorldOnline.Application.deps.json
*.csproj
Application/DigitalWorldOnline.Application/obj/Debug/net7.0/DigitalWorldOnline.Application.AssemblyInfo.cs
Application/DigitalWorldOnline.Application/obj/Debug/net7.0/DigitalW.B459DF74.Up2Date
*.cache
*.BuildWithSkipAnalyzers
*.CopyComplete
Application/DigitalWorldOnline.Application/obj/Debug/net7.0/DigitalWorldOnline.Application.csproj.FileListAbsolute.txt
*.editorconfig
Application/DigitalWorldOnline.Application/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Application/DigitalWorldOnline.Application/obj/Debug/net7.0/DigitalWorldOnline.Application.GlobalUsings.g.cs
Application/DigitalWorldOnline.Application/obj/project.assets.json
*.targets
Application/DigitalWorldOnline.Application/obj/Debug/net7.0/DigitalWorldOnline.Application.sourcelink.json
Application/DigitalWorldOnline.Application/obj/DigitalWorldOnline.Application.csproj.nuget.dgspec.json
*.props
*.Up2Date
Application/DigitalWorldOnline.Application/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Application/DigitalWorldOnline.Application/obj/Release/net7.0/DigitalWorldOnline.Application.AssemblyInfo.cs
Application/DigitalWorldOnline.Application/obj/Release/net7.0/DigitalWorldOnline.Application.csproj.FileListAbsolute.txt
Infra/DigitalWorldOnline.Infraestructure/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Infra/DigitalWorldOnline.Infraestructure/obj/Debug/net7.0/DigitalWorldOnline.Infraestructure.GlobalUsings.g.cs
Infra/DigitalWorldOnline.Infraestructure/obj/Debug/net7.0/DigitalWorldOnline.Infraestructure.csproj.FileListAbsolute.txt
global.json
Domain/DigitalWorldOnline.Commons/obj/project.assets.json
Domain/DigitalWorldOnline.Commons/obj/DigitalWorldOnline.Commons.csproj.nuget.dgspec.json
Domain/DigitalWorldOnline.Commons/obj/Debug/net7.0/DigitalWorldOnline.Commons.sourcelink.json
Domain/DigitalWorldOnline.Commons/obj/Debug/net7.0/DigitalWorldOnline.Commons.GlobalUsings.g.cs
Domain/DigitalWorldOnline.Commons/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Domain/DigitalWorldOnline.Commons/obj/Release/net7.0/DigitalWorldOnline.Commons.AssemblyInfo.cs
Domain/DigitalWorldOnline.Commons/obj/Debug/net7.0/DigitalWorldOnline.Commons.csproj.FileListAbsolute.txt
Domain/DigitalWorldOnline.Commons/obj/Release/net7.0/DigitalWorldOnline.Commons.csproj.FileListAbsolute.txt
Domain/DigitalWorldOnline.Commons/obj/Release/net7.0/DigitalWorldOnline.Commons.GlobalUsings.g.cs
Domain/DigitalWorldOnline.Commons/obj/Release/net7.0/DigitalWorldOnline.Commons.sourcelink.json
Domain/DigitalWorldOnline.Commons/obj/Debug/net7.0/DigitalWorldOnline.Commons.AssemblyInfo.cs
Domain/DigitalWorldOnline.Commons/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Domain/DigitalWorldOnline.Commons/bin/Debug/net7.0/DigitalWorldOnline.Commons.deps.json
Domain/DigitalWorldOnline.Commons/bin/Debug/net7.0/DigitalWorldOnline.Commons.runtimeconfig.json
Domain/DigitalWorldOnline.Commons/bin/Release/net7.0/DigitalWorldOnline.Commons.deps.json
Domain/DigitalWorldOnline.Commons/bin/Release/net7.0/DigitalWorldOnline.Commons.runtimeconfig.json
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/obj/Release/net7.0/DigitalWorldOnline.Routine.sourcelink.json
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/obj/Release/net7.0/DigitalWorldOnline.Routine.GlobalUsings.g.cs
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/obj/Release/net7.0/DigitalWorldOnline.Routine.csproj.FileListAbsolute.txt
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/obj/Release/net7.0/DigitalWorldOnline.Routine.AssemblyInfo.cs
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/obj/project.assets.json
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/obj/DigitalWorldOnline.Routine.csproj.nuget.dgspec.json
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/obj/Debug/net7.0/DigitalWorldOnline.Routine.sourcelink.json
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/obj/Debug/net7.0/DigitalWorldOnline.Routine.GlobalUsings.g.cs
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/obj/Debug/net7.0/DigitalWorldOnline.Routine.csproj.FileListAbsolute.txt
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/obj/Debug/net7.0/DigitalWorldOnline.Routine.AssemblyInfo.cs
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/bin/Release/net7.0/DigitalWorldOnline.Routine.runtimeconfig.json
Distribution/DigitalWorldOnline.Routine.Host/DigitalWorldOnline.Routine/bin/Release/net7.0/DigitalWorldOnline.Routine.deps.json
Distribution/DigitalWorldOnline.Game.Host/obj/Release/net7.0/DigitalWorldOnline.Game.sourcelink.json
Distribution/DigitalWorldOnline.Game.Host/obj/Release/net7.0/DigitalWorldOnline.Game.csproj.FileListAbsolute.txt
Distribution/DigitalWorldOnline.Game.Host/obj/Release/net7.0/DigitalWorldOnline.Game.AssemblyInfo.cs
Distribution/DigitalWorldOnline.Game.Host/obj/Release/net7.0/DigitalWorldOnline.Game.GlobalUsings.g.cs
Distribution/DigitalWorldOnline.Game.Host/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Distribution/DigitalWorldOnline.Game.Host/obj/project.assets.json
Distribution/DigitalWorldOnline.Game.Host/obj/DigitalWorldOnline.Game.csproj.nuget.dgspec.json
Distribution/DigitalWorldOnline.Game.Host/obj/Debug/net7.0/DigitalWorldOnline.Game.sourcelink.json
Distribution/DigitalWorldOnline.Game.Host/obj/Debug/net7.0/DigitalWorldOnline.Game.GlobalUsings.g.cs
Distribution/DigitalWorldOnline.Game.Host/obj/Debug/net7.0/DigitalWorldOnline.Game.csproj.FileListAbsolute.txt
Distribution/DigitalWorldOnline.Game.Host/obj/Debug/net7.0/DigitalWorldOnline.Game.AssemblyInfo.cs
Distribution/DigitalWorldOnline.Game.Host/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Distribution/DigitalWorldOnline.Game.Host/.idea/.idea.DigitalWorldOnline.Game.Host.dir/.idea/vcs.xml
Distribution/DigitalWorldOnline.Game.Host/.idea/.idea.DigitalWorldOnline.Game.Host.dir/.idea/indexLayout.xml
Distribution/DigitalWorldOnline.Character.Host/obj/Release/net7.0/DigitalWorldOnline.Character.sourcelink.json
Distribution/DigitalWorldOnline.Character.Host/obj/Release/net7.0/DigitalWorldOnline.Character.GlobalUsings.g.cs
Distribution/DigitalWorldOnline.Character.Host/obj/Release/net7.0/DigitalWorldOnline.Character.csproj.FileListAbsolute.txt
Distribution/DigitalWorldOnline.Character.Host/obj/Release/net7.0/DigitalWorldOnline.Character.AssemblyInfo.cs
Distribution/DigitalWorldOnline.Character.Host/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Distribution/DigitalWorldOnline.Character.Host/obj/project.assets.json
Distribution/DigitalWorldOnline.Character.Host/obj/DigitalWorldOnline.Character.csproj.nuget.dgspec.json
Distribution/DigitalWorldOnline.Character.Host/obj/Debug/net7.0/DigitalWorldOnline.Character.sourcelink.json
Distribution/DigitalWorldOnline.Character.Host/obj/Debug/net7.0/DigitalWorldOnline.Character.GlobalUsings.g.cs
Distribution/DigitalWorldOnline.Character.Host/obj/Debug/net7.0/DigitalWorldOnline.Character.csproj.FileListAbsolute.txt
Distribution/DigitalWorldOnline.Character.Host/obj/Debug/net7.0/DigitalWorldOnline.Character.AssemblyInfo.cs
Distribution/DigitalWorldOnline.Character.Host/bin/Release/net7.0/DigitalWorldOnline.Character.runtimeconfig.json
Distribution/DigitalWorldOnline.Character.Host/bin/Release/net7.0/DigitalWorldOnline.Character.deps.json
Distribution/DigitalWorldOnline.Character.Host/bin/Debug/net7.0/DigitalWorldOnline.Character.runtimeconfig.json
Distribution/DigitalWorldOnline.Character.Host/bin/Debug/net7.0/DigitalWorldOnline.Character.deps.json
Distribution/DigitalWorldOnline.Admin/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Distribution/DigitalWorldOnline.Admin/obj/project.assets.json
Distribution/DigitalWorldOnline.Admin/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Distribution/DigitalWorldOnline.Account.Host/bin/Debug/net7.0/DigitalWorldOnline.Account.runtimeconfig.json
Distribution/DigitalWorldOnline.Account.Host/bin/Debug/net7.0/DigitalWorldOnline.Account.deps.json
Distribution/DigitalWorldOnline.Account.Host/bin/Release/net7.0/appsettings.Development.json
Distribution/DigitalWorldOnline.Account.Host/bin/Release/net7.0/DigitalWorldOnline.Account.deps.json
Distribution/DigitalWorldOnline.Account.Host/Properties/launchSettings.json
Distribution/DigitalWorldOnline.Account.Host/bin/Release/net7.0/DigitalWorldOnline.Account.runtimeconfig.json
Distribution/DigitalWorldOnline.Account.Host/DigitalWorldOnline.Account.csproj.user
Distribution/DigitalWorldOnline.Account.Host/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Distribution/DigitalWorldOnline.Account.Host/obj/Debug/net7.0/DigitalWorldOnline.Account.AssemblyInfo.cs
Distribution/DigitalWorldOnline.Account.Host/obj/Debug/net7.0/DigitalWorldOnline.Account.csproj.FileListAbsolute.txt
Distribution/DigitalWorldOnline.Account.Host/obj/Debug/net7.0/DigitalWorldOnline.Account.GlobalUsings.g.cs
Distribution/DigitalWorldOnline.Account.Host/obj/Debug/net7.0/DigitalWorldOnline.Account.sourcelink.json
Distribution/DigitalWorldOnline.Account.Host/obj/DigitalWorldOnline.Account.csproj.nuget.dgspec.json
Distribution/DigitalWorldOnline.Account.Host/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Distribution/DigitalWorldOnline.Account.Host/obj/Release/net7.0/DigitalWorldOnline.Account.AssemblyInfo.cs
Distribution/DigitalWorldOnline.Account.Host/obj/Release/net7.0/DigitalWorldOnline.Account.csproj.FileListAbsolute.txt
Distribution/DigitalWorldOnline.Account.Host/obj/Release/net7.0/DigitalWorldOnline.Account.GlobalUsings.g.cs
Distribution/DigitalWorldOnline.Account.Host/obj/Release/net7.0/DigitalWorldOnline.Account.sourcelink.json
Distribution/DigitalWorldOnline.Account.Host/obj/project.assets.json
*.temp
